html {
	font-size: 100%;

	/* ratios for maintaining visual consistency */
	--ratio: 1.25;
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));

	/* zero value*/
	--zero: 0;

	/* measure width */
	--measure: 60ch;

	--color-primary: #ffc902;
	--color-secondary: #0a008a;
	--color-ternary: #ff4a12;

	--white 	: #ffffff;
	--blue 		: #4682B4;
	--green		: #3CB371;
	--orange	: #FF8C00;
	--red 		: #B22222;
	--grey 		: #808080;
}

* {
	/* in general calculate from border-box */
	box-sizing: border-box;

	/* clear default padding and margin*/
	margin: 0;
	padding: 0;
}

/* logical exceptions from measure rule */
html,
body,
div,
header,
nav,
main,
footer {
	max-width: none;
}

body {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: #333;
}

table {
	border-collapse: collapse !important;
}

td {
	border-collapse: collapse;
	border-bottom: 1px solid lightgrey;
}

h1, h2, h3, h4, h5, h6 {
	margin: var(--s-2) 0;
	font-weight: 400;
	text-align: center;
}

h1 {
	font-size: var(--s3);
}

a {
	color: inherit;
}

input {
	border: 0;
	-moz-box-shadow: none;
	box-shadow: none;
	border-bottom: 2px solid black;
	width: 100%;
	font-size: var(--s0);
	line-height: calc(10px * var(--s3));
	height: 50px;
	text-align: center;
	padding: 5px;
	background: transparent;
	color: black;
}

button {
	width: 100%;
	height: 35px;
	font-size: var(--s0);
}

.btn {
	margin-right 		: 1em;
	display 			: inline-block;
	outline 			: none;
	*zoom 				: 1;
	text-align 			: center;
	text-decoration 	: none;
	font-family 		: inherit;
	font-weight 		: 400;
	letter-spacing 		: 1px;
	vertical-align 		: middle;
	border 				: 1px solid;
	-webkit-transition 	: all 0.2s ease;
	-moz-transition 	: all 0.2s ease;
	-ms-transition 		: all 0.2s ease;
	-o-transition 		: all 0.2s ease;
	transition 			: all 0.2s ease;
	box-sizing 			: border-box;
	text-shadow 		: 0 1px 0 rgba(0,0,0,0.01);

	background 	: #FFFFFF;
}

.btn:hover {
	color: var(--white);
	background-color: var(--grey);
}

@media (max-width: 620px) {
	.hide-mobile {
		display: none !important;
	}
}
